<div class="container">
  <div class="card-container" style="background-image: url(images/background.jpg)">
    <div class="card">
      <h1>Do you fancy a cocktail?</h1>
      <button type="button" class="btn btn-dark"><%= link_to "Cocktails", cocktails_path  %></button>
    </div>
  </div>
</div>
