<div class="card" style="width: 18rem;">
  <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-body">
    <h5 class="card-title"><%= @cocktail.name %></h5>
    <p class="card-text"><%= @dose %></p>


  </div>
</div>
